{% extends 'main/base.html' %}
{% load static %}
{% block h %}

<h3>БИОГРАФИЯ</h3>
{% endblock %}
{% block main %}

<div class="bio">
    <div class="bio_points">
        <a href="#bio1" class="bio_point">Серёга пират</a>
        <a href="#bio2" class="bio_point">Настоящее имя</a>
        <a href="#bio3" class="bio_point">Образование</a>
        <a href="#bio4" class="bio_point">Возраст</a>
        <a href="#bio5" class="bio_point">Первая озвучка</a>
        <a href="#bio6" class="bio_point">Популярные озвучки и треки</a>
        <a href="#bio7" class="bio_point">Twitch</a>
        <a href="#bio8" class="bio_point">Личная жизнь</a>
        <a href="#bio9" class="bio_point">Работа на Team Empire</a>
        <a href="#bio10" class="bio_point">Сцена</a>
        <a href="#bio11" class="bio_point">Дота</a>
    </div>
    <div class="bio_text">
        <a name="bio1">Серега Пират – значимая личность в комьюнити Доты. Многие слышали его озвучки, расслаблялись под его треки (даже без звука) и смеялись над авантюрным Алхимиком через позор в Dota 1x6. Но Перега Сират все равно остается довольно загадочной личностью. Для многих он лишь очередной стример, который делает второсортные треки и ненавидит правила Twitch. Хотя это (очень) далеко от правды.</a>
        <img src="{% static '/main/img/antimage.png' %}" alt="antimage">
        <a name="bio2">Настоящее имя Сереги Пирата (вы удивитесь) – Сергей. Сам никнейм был сделан на скорую руку, чтобы написать комментарий на YouTube. По словам самого Сереги Пирата, он запросто мог выбрать «Серега Кулак» или «Серега Бандит» – просто в этот день он захотел быть Пиратом.</a>
        <a name="bio3">Где же живет Серега Пират? Во Вьетнаме. Но Сергей успел побывать во многих российских городах: Дальнереченск, Владивосток, Санкт-Петербург и Рязань. </a>
        <a name="bio4">После школы Серега Пират обучался на специальности «управление морским транспортом». Однако чуть позже, после защиты диплома, уехал в Петербург, где еще активнее увлекся стримингом и музыкой. По полученной специальности Сергей не работал. </a>
        <a name="bio5">Если каким-то образом вы еще не знаете, как выглядит Сергей, то вот его фото: </a>
        <a name="bio6">Точный возраст Сергея, к сожалению, неизвестен. По одной версии ему 26 лет, по другой – 28. </a>
        <a name="bio7">Первым роликом на канале Сереги Пирата был «Как проводился решафл в NAVi». Сейчас эта озвучка собрала уже около 250 тысяч просмотров. Она длится лишь полторы минуты, и по сценарию команда употребляет кокаин, чтобы провести грамотный решафл. </a>
        <a name="bio8">Самая популярная озвучка Сереги – «Шоу Папича» (2,6 млн просмотров), а самый популярный трек – «тп на аме» (4,8 млн просмотров). </a>
        <a name="bio9">Серега Пират негативно относится к новым правилам Твича, поэтому сейчас он стримит на Ютубе и Трово. Он играет в Доту и кастомки, а также смотрит фильмы и проходит другие игры. </a>
        <a name="bio10">Сергей глубоко убежден, что воздух не тонет в воде из-за разницы в плотности. У воздуха она больше, поэтому и не тонет. </a>
        <a name="bio11">До переезда во Вьетнам у Сергея была девушка – Анастасия. Именно ради нее он переехал в Рязань. Состоит ли в отношениях до сих пор – он отвечать отказывается. </a>
        <a name="bio12">Сигнатурка Сереги Пирата – Антимаг. А точнее, легендарный билд через Радик, Манту и Аганим. Стоит отметить, что изначально Сергей ставит в квикбай БФ, чтобы сильно не расстраивать союзников. Однако после дикого фарма сразу же покупает Sacred Relic. И все же не волнуйтесь, порой Серега Пират выбирает и классический билд – когда выигрыш обязателен. </a>
        <a name="bio13">Во Вьетнаме Серега Пират живет не один. Двухэтажный дом с ним делит другой стример и по совместительству близкий друг Сергея – Влад «qeqoqeq» Грабовский. </a>
        <a name="bio14">Однажды Сергей попробовал пройти ЕГЭ по русскому языку на своем стриме. Результат – 3 балла из 100. </a>
        <a name="bio15">Серега Пират уже выступал на сцене, причем довольно успешно. Во время концерта Quizzzmeow он исполнил несколько собственных треков под крики толпы и цунами аплодисментов. Без фонограммы. </a>
        <a name="bio16">В 2016 и 2017 году Серега Пират работал на Team Empire. Вместе с Bad Playa они записывали треки, снимали видео с DAC 2017 и даже анализировали игры. </a>
        <a name="bio17">Максимальный ММР Сереги Пирата – 6000-6500. Но сейчас он играет на аккаунте с более низким рейтингом, чтобы пробовать необычные сборки и героев.</a>
    </div>
</div>
{% endblock %}