{% extends 'main/base.html' %}
{% load static %}
{% block main %}
<h4>Условия и положения.</h4>
<div class="cond-conf">
    <div>
        <a href="">
            Использование сайта:
        </a>
        <p>
            Посещение и использование сайта "Серега Пират" означает ваше согласие с условиями использования, описанными здесь. Сайт предоставляется исключительно в информационных целях и не предполагает коммерческой деятельности.
        </p>

        <a href="">
            Интеллектуальная собственность:
        </a>
        <p>
            Весь контент, размещенный на сайте "Серега Пират", принадлежит его законным владельцам и предоставляется исключительно для некоммерческого использования. Любое использование контента без разрешения правообладателей запрещено.
        </p>

        <a href="">
            Отказ от ответственности:
        </a>
        <p>
            Мы не несем ответственности за убытки или ущерб, понесенные пользователями в результате использования информации, размещенной на сайте. Мы также не гарантируем доступность сайта в любое время и не несем ответственности за возможные технические сбои или проблемы.
        </p>

        <a href="">
            Ссылки на сторонние ресурсы:
        </a>
        <p>
            Сайт "Серега Пират" может содержать ссылки на сторонние ресурсы, однако мы не несем ответственности за содержимое этих ресурсов. Посещение сторонних сайтов осуществляется на ваш риск и под собственную ответственность.
        </p>

        <a href="">
            Изменения в условиях использования:
        </a>
        <p>
            Мы оставляем за собой право вносить изменения в условия использования сайта без предварительного уведомления. После таких изменений ваше дальнейшее использование сайта будет означать ваше согласие с обновленными условиями.
        </p>
    </div>
</div>
{% endblock %}