{% extends 'main/base.html' %}
{% load static %}
{% block main %}
<h4>Политика конфиденциальности.</h4>
<div class="cond-conf">
    <div>
        <a href="">
            Сбор и использование информации:
        </a>
        <p>
            Сайт "Серега Пират" является фан-сайтом, созданным фанатом, и не осуществляет коммерческую деятельность. На сайте не предусмотрена возможность проведения платежей или приобретения билетов на концерты и мерчандайзинг. Личная информация, предоставляемая пользователями при регистрации на сайте, используется исключительно для доступа к функциям сайта и не передается третьим лицам.
        </p>
        <a href="">
            Раскрытие информации третьим лицам:
        </a>
        <p>
            Мы не раскрываем личную информацию пользователей третьим лицам, за исключением случаев, предусмотренных законодательством. Вся информация, предоставленная пользователями, остается конфиденциальной.
        </p>
        <a href="">
            Куки и отслеживание:
        </a>
        <p>
            Сайт "Серега Пират" может использовать куки и другие технологии отслеживания для улучшения работы сайта и анализа поведения пользователей на нем. Эти данные используются исключительно в анонимизированной форме и не связаны с личной информацией пользователей.
        </p>
        <a href="">
            Защита информации:
        </a>
        <p>
            Мы принимаем все необходимые меры для защиты личной информации пользователей от несанкционированного доступа, утраты или разглашения. Вся информация передается по защищенным каналам связи и хранится на защищенных серверах.
        </p>
        <a href="">
            Права пользователей:
        </a>
        <p>
            Пользователи имеют право на доступ, исправление и удаление своей личной информации. Для этого можно воспользоваться функциями управления профилем на сайте.  
        </p>  
    </div>
</div>
{% endblock %}