{% extends 'main/base.html' %}
{% load static %}
{% block main %}
<h4>КОНЦЕРТ</h4>
<ul class="">
    {% for id, c, address, date in poster %}
        <li class="poster_byid" data-year="{{ c }}">
            <div>
                <img src="{% static 'poster/calendar.svg' %}" alt="calendar">
                <p id="date">{{ date }}</p>
            </div>
            <div>
                <img src="{% static 'poster/location.svg' %}" alt="location">
                <p id="city">г. {{ c }} - {{ address }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
<div id="oplata">
    <p>ПОДТВЕРЖДЕНИЕ ОПЛАТЫ</p>
</div>
<div id="code">
    <p>Код</p>
    <input type="text">
</div>
<div class="button_next">
    <button><a href="/poster/{{id}}/done/">Продолжить</a></button>
</div>
{% endblock %}