{% extends 'main/base.html' %}
{% load static %}
{% block main %}
<h4>СПАСИБО ЗА ПОКУПКУ!</h4>
<ul class="">
    {% for id, c, address, date in poster %}
        <li class="poster_byid" data-year="{{ c }}">
            <div>
                <img src="{% static 'poster/calendar.svg' %}" alt="calendar">
                <p id="date">{{ date }}</p>
            </div>
            <div>
                <img src="{% static 'poster/location.svg' %}" alt="location">
                <p id="city">г. {{ c }} - {{ address }}</p>
            </div>
        </li>
    {% endfor %}
</ul>

<div class="thanks">
    <div>
        <p>Заказ не был оплачен.</p>
        <p>Это фан-сайт, любые транзакции здесь не проходят.</p>
        <p>Деньги с вашей карты не спишутся, вам ничего не придёт!</p>
        <p>Хорошего дня!</p>
    </div>
</div>
<div class="button_next">
    <button><a href="/poster/">Продолжить</a></button>
</div>
{% endblock %}